html, body {
  height: 90%;
  font-family: Roboto;
  box-sizing: border-box;
}

.App {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  height: 100%;
  grid-template-columns: 597.5px 5px 597.5px;
  grid-template-rows: 5vh 80vh;
}

#editor-container, #preview-container {
  width: 100%;
  height: 100%;
}

#editor-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
#preview-container {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

#input {
  outline: none;
  resize: none;
  width: 100%;
  height: 99.5%;
  font-size: 12px;
  display: block;
}

#preview {
  width: 100%;
  overflow: auto;
  height: 100%;
  border: 1px solid black;
}

.header {
  display: block;
  color: gray;
  margin: 0;
  padding: 10px;
}
